In [14]:
import funPytorch as fun
import configurationsMulticlass
import configurations
import math
import time
import pandas
import pickle
from sklearn.metrics import f1_score 
import collections
import numpy as np

In [2]:
def calculateF1(conf):
    model,optim = fun.loadModel(conf, "cuda:0")
    X, y, train, valid, test = fun.processData(conf)
    _, _, _, _, _, _, _, f1, _,_ = fun.runTest(conf, model, X, y, test)
    return f1

# Site

In [3]:
df = pandas.DataFrame()

In [4]:
df['icdo'] = pickle.load(open('corpusTemporal/valuesTemporal.p', 'rb'))

In [5]:
df['CNN'] = calculateF1(configurationsMulticlass.configTmultiCNNpBest)

Loading modelsPytorchMulticlass/confTmultiCNNp/128/64/best.pt
         processed line 85170/85170
         reprocessed line 85170/85170
test_loss: 0.5902 - test_acc: 89.1048
MAPs: 0.9285 - MAPc: 0.3966
acc: 0.8910 - kappa: 0.8771
accT3: 0.9593 - accT5: 0.9758
f1micro: 0.8910 - f1macro: 0.5207

In [6]:
svmPred = pickle.load(open("predictionsSVM-Asite.p", 'rb'))

In [17]:
c = collections.Counter(np.argmax(svmPred['y'],1))

In [18]:
df['examples'] = [c[i] for i in range(len(c.keys()))]

In [19]:
df

    icdo       CNN  examples
0      0  0.437500        18
1      1  0.307692         7
2      2  0.686567        34
3      3  0.000000         5
4      4  0.000000         7
..   ...       ...       ...
63    74  0.666667         2
64    75  0.756757        21
65    76  0.000000         3
66    77  0.637324       264
67    80  0.176744       146

[68 rows x 3 columns]

In [20]:
df.to_csv("f1matrix-CNN-site.csv", index=False)

# Morpho

In [21]:
dfM = pandas.DataFrame()

In [22]:
dfM['icdo'] = pickle.load(open('corpusTemporalV2b/valuesTemporalMorfo1.p', 'rb'))

In [23]:
dfM['CNN'] = calculateF1(configurationsMulticlass.configTMmultiCNNpBest)

Loading modelsPytorchMulticlass/confTMmultiCNNp/128/64/best.pt
         processed line 84127/84127
         reprocessed line 84127/84127
test_loss: 0.7399 - test_acc: 82.6793
MAPs: 0.8875 - MAPc: 0.2997
acc: 0.8268 - kappa: 0.8056
accT3: 0.9388 - accT5: 0.9615
f1micro: 0.8268 - f1macro: 0.4242

In [24]:
svmPredM = pickle.load(open("predictionsSVM-Amorpho.p", 'rb'))

In [25]:
cM = collections.Counter(np.argmax(svmPredM['y'],1))

In [26]:
dfM['examples'] = [cM[i] for i in range(len(cM.keys()))]

In [27]:
dfM

     icdo       CNN  examples
0    8000  0.240000       345
1    8001  0.051948        75
2    8010  0.501403       561
3    8011  0.000000         1
4    8012  0.666667         4
..    ...       ...       ...
198  9980  0.436364        22
199  9983  0.400000         8
200  9984  0.000000         2
201  9989  0.451613        78
202  9990  0.000000         1

[203 rows x 3 columns]

In [28]:
dfM.to_csv("f1matrix-CNN-morpho.csv", index=False)